<a href="https://colab.research.google.com/github/vkumar22/NCSULib_Workshop/blob/master/Copy_of_Data_Cleaning_with_Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Cleaning with Python**  
An NCSU Libraries Workshop  
Instructor: Alison Blaine, ablaine@ncsu.edu

### Welcome! In this workshop, we'll learn how to do the following:
* load in python libraries for data cleaning (pandas) and graphing (matplotlib)
* read csv files into Python from an internet source
* examine the first and last few rows of the data
* delete duplicates
* filter the data to create subsets
* sort the data
* group the data for plotting
* drop variables from the dataset
* create new variables
* generate and save summary statistics for a dataset

### Step 1. We'll start by loading in the required Python libraries.

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

### Step 2. Next, we'll load in a dataset from the internet. This dataset is a CSV (comma separated values) file.

In [0]:
url="https://raw.githubusercontent.com/alblaine/data-USstates/master/state-population.csv"

dat=pd.read_csv(url)

### Step 3. Type dat.head() to see the first 5 rows of the dataset. Then click the run button.

In [4]:
dat.head()

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

### Step 4. Rename the state/region column to state_region using rename().

In [0]:
dat.rename(columns={'state/region':'state_region'},inplace=True)
dat

### Step 5. Print out the unique values in the state_region column using drop_duplicates().

In [0]:
dat.state_region.drop_duplicates()

### Step 6. Filter out all rows except for NC using query().

In [0]:
dat_filtered =

### Step 7. Order the columns by year using sort_values().

In [0]:
dat_sorted =

### Step 8. Try to make a basic line plot showing year (X) and population (Y) using the plot() function from matplotlib.

First, let's choose a chart theme.

In [0]:
print(plt.style.available)  # note: this command lists all the themes available

['seaborn-darkgrid', 'ggplot', 'grayscale', 'seaborn-deep', 'seaborn-dark', 'fast', 'bmh', 'seaborn-poster', 'Solarize_Light2', 'classic', 'seaborn-white', 'seaborn-dark-palette', '_classic_test', 'seaborn-muted', 'seaborn-talk', 'seaborn-whitegrid', 'seaborn-bright', 'dark_background', 'seaborn-notebook', 'seaborn', 'seaborn-pastel', 'fivethirtyeight', 'seaborn-paper', 'seaborn-ticks', 'seaborn-colorblind']

In [0]:
plt.style.use(   ) # note: this selects a plot theme and all future plots will have this theme


plt.plot(           ) # note: the plt at the beginning tells python that the plot function comes from matplotlib

This didn't look good because Python thought we needed to connect all of the data points with one line. But we want two lines: one for under18, and one for total.

In [0]:
dat_sorted.ages

### Step 9. Let's try grouping the data on the **ages** variable.

In [0]:
dat_sorted.groupby(      ).plot(x=     , y=    )

### Step 10. To get the lines on the same graph, we need to make use of the subplots() function from matplotlib. This just tells python to draw the lines on the same chart.

In [0]:
fig, ax = plt.subplots()

dat_sorted.groupby(   ).plot(x=    , y=    , ax=    , legend=    )

### Step 11. Pandas has a pivot table feature that will allow us to separate the ages column into two columns, one for each age category (under18 and total).

In [0]:
dat_pivot = pd.pivot_table(         , index=[       ], values=[       ], columns=[    ])   # see the documentation here: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.pivot_table.html

dat_pivot.head()

### Step 12. Now that we have pivoted the data, we have to figure out how to access the data in each column.

Type **dat_pivot.year** and run the code. Note there is an error. That is because year is an index value. Index values can't be called like regular variables.

Type **dat_pivot.reset_index()** to turn index values back into columns. This will make year into a regular column again.

In [0]:
dat_pivot =

Now type **dat_pivot.year** and run the code. This should work.

Type **dat_pivot.total** and run the code. Notice there is an error. That's because the total variable is nested under the population field.

Type **dat_pivot.population.total** and run the code. Why does this work?

### Step 13. Here's another way to make the graph that we made earlier in step 10 using the pivoted data. Since we have two separate columns for ages (under18 and total), we can create the following line graphs: 
* **X1=year, Y1=total**
* **X2=year, Y2=under18**

---

In [0]:
plt.plot(       )
plt.plot(       )

### Step 14. Read in a new dataset using pd.read_csv().

In [0]:
url="https://raw.githubusercontent.com/alblaine/data-1/master/bad-drivers/bad-drivers.csv"

drivers =

### Step 15. Look at the data using the head() command.

### Step 16. Look at the column headers for this dataset using .columns

### Step 17. Rename the columns to shorter names using rename()

In [0]:
drivers_renamed = drivers.rename(columns={'Number of drivers involved in fatal collisions per billion miles':'num_per_billion',
       'Percentage Of Drivers Involved In Fatal Collisions Who Were Speeding':'pct_speeding',
       'Percentage Of Drivers Involved In Fatal Collisions Who Were Alcohol-Impaired':'pct_alcohol_impaired',
       'Percentage Of Drivers Involved In Fatal Collisions Who Were Not Distracted':'pct_not_distracted',
       'Percentage Of Drivers Involved In Fatal Collisions Who Had Not Been Involved In Any Previous Accidents':'pct_no_accidents',
       'Car Insurance Premiums ($)':'premiums',
       'Losses incurred by insurance companies for collisions per insured driver ($)':'losses'})

In [0]:
drivers_renamed.head()

### Step 18. Create a new dataset keeping only the state, premiums, and losses columns.

In [0]:
drivers_pl = drivers_renamed.iloc[:, [0, 6, 7]]  # keep only the columns that are in the 0th, 6th, and 7th column position in the dataset

### Step 19. Create a new variable, ratio, that is the ratio of losses to premiums (ratio= losses/premiums)

In [0]:
drivers_pl = drivers_pl.assign(              )

### Step 20. Create a scatter plot showing premiums = X, losses = Y.

In [0]:
plt.scatter(      )

### Step 21. Get summary statistics about the drivers_pl dataset.

Type drivers_pl.describe()

### Step 22. Save the summary statistics into their own dataset.

In [0]:
dpl_summary =

In [0]:
dpl_summary

### Step 23. Access the mean of the premiums column using .loc or .iloc

In [0]:
dpl_summary.loc['mean', 'premiums']

In [0]:
dpl_summary.iloc[1,0]

### Step 24. Transpose columns and rows in dpl_summary using transpose()

### Step 25. Practice. Read in a new dataset from the url provided using the read_csv() command. Name the dataset 'exdat'.

In [0]:
url = "https://raw.githubusercontent.com/alblaine/exchange-rates/master/data/annual.csv"

exdat =  

exdat.head()

### Step 26. Create a year column based on the Date column (ex: 1971)

Note that **.assign** creates a new column, **pd.DatetimeIndex()** converts the Date column into a Date object in Python, and **.year** extracts the year value.

In [0]:
exdat = exdat.assign(year=pd.DatetimeIndex(exdat['Date']).year)  # see the Pandas docs here: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DatetimeIndex.html

### Step. 27. Delete the Date column using drop().

In [0]:
exdat = exdat.drop(columns=[    ])
exdat.head()

### Step 28. Practice. Filter the data to only include China and Mexico using the query() function. See Step 6 for an example.

In [0]:
exdat_filtered =

### Step 29. Practice. Rename the "Exchange rate" column to "rate". We shouldn't have spaces in our variable names. See Step 4 for an example.

In [0]:
exdat_filtered =

### Step 30. Practice. Create a line graph showing how the exchange rates have changed over time for China and Mexico. See Step 9 for an example.
Note: **year** should be the variable on the X axis and **rate** should be the variable on the Y axis. Both lines should be in the same graph.
Hint: use .group_by and .plot functions

In [0]:
fig, ax=plt.subplots()